.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header-container ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.header-container a,
.header-container li {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.Logo ul li svg {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.Logo ul li a:hover svg {
    transform: scale(1.4);
    color: #1DB954;
}

.header-container a:hover {
    color: #1DB954;
}

.Name h3 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
}




.footer-container {
    width: 100%;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

    border-top: 1px solid rgba(255, 255, 255, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;
}

.footer-container p {
    color: #8b9dc3;
    font-weight: 500;
    margin: 0;
    letter-spacing: 1px;
}