.release-container {
    padding: 120px 20px 50px;
    flex: 1; 
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.release-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    align-content: start;
}

.song-card {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: none;
}

.song-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.song-overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;

    /* Màu sắc */
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff !important;
    text-decoration: none;

    /* Font chữ */
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

.song-overlay:hover {
    background-color: #db6e0f;
    /* Xanh nước biển */
}