html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; 
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                    url('./assets/BgInfor.jpg'); 
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  
  background-attachment: fixed; 
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 

}


@media (max-width: 1024px) {
  #root {
    background-attachment: scroll; 
  }
}

@media (max-width: 768px) {
  #root {
    background-attachment: scroll;
  }
}

@media (max-width: 480px) {
  #root {
    background-attachment: scroll;
  }
}